<mg-component size="m">
    <div class="row">
        <div class="col m12 l12 s12">
            <div class="pad-20 padV-50 amber shadow-1 text-center radius-5">
                <h1 class="text-grey8"><span class="bold">M</span>aterial <span class="bold">G</span>rammi <small class="font-10 text-grey2 radius-5 pad-3 blue">angular</small></h1>
                <div class="padV-10">
                    <mg-button theme="dark" class="padH-5" taskType="link" btnStyle="link" target="/documentation"><i class="fas fa-book"></i> Documentation</mg-button>
                    <!-- <mg-button theme="dark" class="padH-5" taskType="link" btnStyle="link" target="/themes"><i class="fas fa-paint-brush"></i> Themes</mg-button>
                    <mg-button theme="dark" class="padH-5" taskType="link" btnStyle="link" target="/templates"><i class="fab fa-html5"></i> Templates</mg-button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="marginT-10"></div>
    <div class="row grey1 marginT-10 radius-5">
        <div class="col m6 l6 s12">
            <div class="pad-10 padV-30">
                <h2 class="text-green marginB-10">About me</h2>
                <p class="text-grey8 text-justify marginB-10">Materialgrammi is an innovative open-source library for developing responsive, mobile first projects on the web. This library is relaunched with Angular integration on component level. This library is inspired from google's Material Design and can be use to design with independent classes and angular components. We intend to evolve the library with new design trends and practices that makes it fast and innovative.</p>
                <p class="text-grey8 text-justify marginT-5">Library can be downloaded with the below steps</p>
                <div class="padV-10">
                    <h5 class="marginB-2 font-20 text-green5">Install via npm</h5>
                    <app-code class="grey3 radius-5" [code]="installNpm"></app-code>
                </div>
                <div class="padV-10">
                    <h5 class="marginB-5 font-20 text-green5">Import the css file</h5>
                    <app-code class="grey3 radius-5" [code]="importCss"></app-code>
                </div> 
                <div class="padV-10">
                    <h5 class="marginB-5 font-20 text-green5">Import the Module</h5>
                    <app-code class="grey3 radius-5" [code]="listOfImports"></app-code>
                </div>
            </div>
        </div>
        <div class="col m6 l6 s12">
            <div class="pad-10 padT-30">
                <h2 class="text-green marginB-10">Take your design skills to next level</h2>
                <p>Materialgrammi is developed in such a way that would increase your ease of programming and improve the design on the same time. It can be scale-able, there are alot of ways in which any work can be made more special with Materialgrammi. Just think of what you really want to design and you can take Materialgrammi on your path of success.</p>
            </div>
            <div class="pad-10">
                <h2 class="text-green marginB-10">Feedback <small class="font-12">is important</small></h2>
                <div class="padV-10">
                    <p>Please do send your feedback at <a [href]="'mailto:' + feedbackEmail" class="text-blue">{{feedbackEmail}}</a></p>
                </div>
            </div>
            
        </div>
    </div>
</mg-component>