<!-- <mg-component size="m">
  <mg-tab [options]="tabsOptions" id="tab1" theme="primary">
    <mg-widget id="login-tab" parent="tab1" type="tab">
      <div class="pad-20 grey1">
        <h1 class="bold spacing-2 text-grey8">Login</h1>
        <div class="padV-20">
          <div class="row">
            <div class="col m6 l6 s12">
              <div class="padR-5">
                <mg-input label="username" style="material" theme="primary"></mg-input>
              </div>
            </div>
            <div class="col m6 l6 s12">
              <mg-input label="password" type="password" style="material" theme="primary"></mg-input>
            </div>
          </div>
        </div>
        <div class="padV-20">
          <div class="row">
            <div class="col m6 l6 s12">
              <mg-switch theme="primary" [options]="switchOptions"></mg-switch>
            </div>
            <div class="col m6 l6 s12 text-right">
              <mg-button theme="warning" [round]="true">Fogot Password?</mg-button>
              <mg-button theme="info" [round]="true">Create Account</mg-button>
              <mg-button theme="success" [round]="true">Login</mg-button>
            </div>
          </div>
        </div>
      </div>
    </mg-widget>
    <mg-widget id="tab-widget-2" parent="tab1" type="tab">
      <p>This is tab 02</p>
    </mg-widget>
    <mg-widget id="tab-widget-3" parent="tab1" type="tab">
      <p>This is tab 03</p>
    </mg-widget>
    <mg-widget id="tab-widget-4" parent="tab1" type="tab">
      <p>This is tab 04</p>
    </mg-widget>
  </mg-tab>
</mg-component> -->


<router-outlet></router-outlet>